@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
.instagram-media {
  max-width: 550px; /* Set your desired maximum width */
  min-width: 250px !important; /* Ensures responsiveness */
  margin: 0 auto; /* Centers the embed */
}
.instagram-embed{
  display:flex;
  justify-content:center;
}

/* .instagram-embed-container blockquote { */
  /* width: 10% !important;  */
  /* Overrides inline styles */
/* } */